version: "2.2"

services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    container_name: slurm-mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    volumes:
      - var_lib_mysql:/var/lib/mysql

  postgres:
    image: postgres:14.5
    hostname: postgres
    container_name: slurm-postgres
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "yes"
      POSTGRES_DB: "rstudio"
    volumes:
      - var_lib_postgres:/var/lib/postgres
    expose:
      - "5432"

  slurmdbd:
    image: mmayer123/slurm-docker-cluster:${PWB_VERSION:-2024.12.1-563.pro1}-slurm-${SLURM_VERSION:-24.11.1-1}-${DIST:-jammy}
    build:
      context: .
      dockerfile: Dockerfile.compile 
      args:
        SLURM_VERSION: ${SLURM_VERSION:-24.11.1-1}
        PWB_VERSION: ${PWB_VERSION:-2024.12.1-563.pro1}
        LAUNCHER_VERSION: ${LAUNCHER_VERSION}
        DIST: ${DIST:-jammy}
        DISTNUM: ${DISTNUM:-2204}
    command: ["slurmdbd"]
    container_name: slurm-slurmdbd
    hostname: slurmdbd
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - var_log_slurm:/var/log/slurm
    expose:
      - "6819"
    depends_on:
      - mysql

  slurmctld:
    image: mmayer123/slurm-docker-cluster:${PWB_VERSION:-2024.12.1-563.pro1}-slurm-${SLURM_VERSION:-24.11.1-1}-${DIST:-jammy}
    build:
      context: .
      dockerfile: Dockerfile.compile
      args:
        SLURM_VERSION: ${SLURM_VERSION:-24.11.1-1}
        PWB_VERSION: ${PWB_VERSION:-2024.12.1-563.pro1}
        LAUNCHER_VERSION: ${LAUNCHER_VERSION}
        DIST: ${DIST:-jammy}
        DISTNUM: ${DISTNUM:-2204}
    command: ["slurmctld"]
    container_name: slurm-slurmctld
    hostname: slurmctld
    privileged: true 
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
      - home:/home
    expose:
      - "6817"
    depends_on:
      - "slurmdbd"

  rstudio:
    image: mmayer123/slurm-docker-cluster:${PWB_VERSION:-2024.12.1-563.pro1}-slurm-${SLURM_VERSION:-24.11.1-1}-${DIST:-jammy}
    build:
      context: .
      dockerfile: Dockerfile.compile
      args:
        SLURM_VERSION: ${SLURM_VERSION:-24.11.1-1}
        PWB_VERSION: ${PWB_VERSION:-2024.12.1-563.pro1}
        LAUNCHER_VERSION: ${LAUNCHER_VERSION}
        DIST: ${DIST:-jammy}
        DISTNUM: ${DISTNUM:-2204}
    command: ["rstudio"]
    container_name: slurm-rstudio1
    hostname: rstudio1
    privileged: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
      - var_lib_rstudio_server:/var/lib/rstudio-server
      - home:/home   
      - ${PWD}/rstudio/launcher.conf:/etc/rstudio/launcher.conf
      - ${PWD}/rstudio/launcher.slurm.conf:/etc/rstudio/launcher.slurm.conf
      - ${PWD}/rstudio/launcher.slurm.profiles.conf:/etc/rstudio/launcher.slurm.profiles.conf
      - ${PWD}/rstudio/rserver.conf:/etc/rstudio/rserver.conf
      - ${PWD}/rstudio/load-balancer:/etc/rstudio/load-balancer
      - ${PWD}/rstudio/launcher.slurm.resources.conf:/etc/rstudio/launcher.slurm.resources.conf
      - ${PWD}/rstudio/jupyter.conf:/etc/rstudio/jupyter.conf
    expose:
      - "8787"
    ports:
      - "8788:8787"
    depends_on:
      - "slurmctld"
      - "postgres"
    environment:
      RSP_LICENSE: ${RSP_LICENSE}


  c1:
    image: mmayer123/slurm-docker-cluster:${PWB_VERSION:-2024.12.1-563.pro1}-slurm-${SLURM_VERSION:-24.11.1-1}-${DIST:-jammy}
    build:
      context: .
      dockerfile: Dockerfile.compile
      args:
        SLURM_VERSION: ${SLURM_VERSION:-24.11.1-1}
        PWB_VERSION: ${PWB_VERSION:-2024.12.1-563.pro1}
        LAUNCHER_VERSION: ${LAUNCHER_VERSION}
        DIST: ${DIST:-jammy}
        DISTNUM: ${DISTNUM:-2204}
    command: ["slurmd"]
    hostname: c1
    container_name: slurm-c1
    privileged: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
      - var_lib_rstudio_server:/var/lib/rstudio-server
      - home:/home
    expose:
      - "6818"
    depends_on:
      - "slurmctld"

  c2:
    image: mmayer123/slurm-docker-cluster:${PWB_VERSION:-2024.12.1-563.pro1}-slurm-${SLURM_VERSION:-24.11.1-1}-${DIST:-jammy}
    build:
      context: .
      dockerfile: Dockerfile.compile
      args:
        SLURM_VERSION: ${SLURM_VERSION:-24.11.1-1}
        PWB_VERSION: ${PWB_VERSION:-2024.12.1-563.pro1}
        LAUNCHER_VERSION: ${LAUNCHER_VERSION}
        DIST: ${DIST:-jammy}
        DISTNUM: ${DISTNUM:-2204}
    command: ["slurmd"]
    hostname: c2
    container_name: slurm-c2
    privileged: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
      - var_lib_rstudio_server:/var/lib/rstudio-server
      - home:/home
    expose:
      - "6818"
    depends_on:
      - "slurmctld"


volumes:
  etc_munge:
  etc_slurm:
  slurm_jobdir:
  var_lib_mysql:
  var_lib_postgres:
  var_log_slurm:
  home:
  var_lib_rstudio_server:
